h1, h2, h3, h4 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 25px;
}
hr {
    border: 0.3px normal rgba(90, 90, 90, 0);
}

header img {
    margin-top: 10px;
    margin-left: 680px;
}
.banner {
    margin: 30px 30px ;
    width: 1500px;
    height: 700px;
    background-image: url('https://www.dior.com/couture/var/dior/storage/images/horizon/beauty/make-up/new-makeup/ecom-push-campaign-1/38970229-4-int-EN/ecom-push-campaign-1_1440_1200.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
p {
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
.button {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    margin-left: 700px;
    border-radius: 30px;
}
.item1 {
    padding-right: 5px;
    margin-top: 40px;
    margin-left: 30px; 
    font-size: 30px;
    display: flex;
    flex-direction: row;
}
.item2 {
    display: flex;
    margin-top: 40px;
    margin-left: 100px; 
}
.item3 {
    display: flex;
    margin-top: 40px;
    margin-left: 30px; 
}
#lipstick {
    height: 500px;
    width: 800px;
}
#lipstick2 {
    height: 500px;
    width: 800px;
    margin-left: 200px;
    margin-right: 50px;
}
#lipstick3 {
    height: 500px;
    width: 800px;
}
#text {
    height: 200px;
    width: 700px;
    padding-left: 30px;
    padding-right: 100px;
    padding-top: 100px;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
#text2{
    padding-top: 200px;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
#text3{
    padding-top: 200px;
    padding-left: 30px;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    margin-top: 50px;
    position: relative;
}
.container1 {
    width: 200px;
    height: 400px;
    display: flex;
}
#lip1 {
    position: absolute;
    left: 100px;
    top: 10px;
}
#lip2 {
    margin-left: 600px;
    position: absolute;
    top: 10px;
}
#lip3 {
    margin-left: 800px;
    left: 300px;
    top: 10px;
    position: absolute;
}
.names {
    margin-top: 500px;
    display: flex;
    color: palevioletred;
}
#lipglow {
    margin-left: 200px;
}
#lipoil {
    margin-left: 450px;
}
#dior_addict{
    margin-left: 430px;
}
.collection {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
}
.collection div {
    margin-left: 30px;
}
footer {
    margin-top: 60px;
    margin-bottom: 0.5em;
    height: 200px;
}
footer div p {
    margin-left: 40px;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
.flexBox {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.flexBox div p {
    text-align: left;
    font-size: 13px;
    padding-left: 120px;
}
select {
    margin-left: 160px;
}
#lang1 {
    padding-top: 20px;
}

