#my-head {
    padding-left: 850px;
}
#my-head2 {
    padding-left: 150px;
}
.bg-image {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
#one {
    padding-left: 150px;
}
/* img {
    display: inline-block;
    height: auto;
    max-width: 100%;
} */
h1 {
    color: #fff;
    text-align: left;
    padding-top: 100px;
}
h3 {
    color: #fff;
    text-align: left;
    padding-top: 100px;
}
.my-text {
    color: #fff;
    text-align: left;
    font-size: 18px;
    padding-top: 30px;
}
.my-btn {
    margin-top: 30px;
}
.bus {
    color: white;
}
.three {
    padding-top: 50px;
}
li {
    color: white;
}
h2 {
    margin-top: 50px;
    color: white;
}
h4 {
    margin-top: 20px;
    color: white;
}
#free {
    text-align: center;
}
.anytime {
    color: white;
}
.list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h5 {
    color:white
}
