* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
.header {
    background-color: black;
    padding: 10px 150px 0 50px;
    overflow: hidden;
    color: #fff;
}
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
.header-right {
  float: right;
}
#one {
  background-color: rgb(5, 105, 82);
  overflow: auto;
  padding: 50px 0 50px 200px;
  color: #c5f0c9;
}
.section-text-one {
  display: flex;
  flex-direction: column;
}
#free {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 8px;
}
#offer {
  font-size: 25px;
}
.terms {
  margin-top: 30px;
  font-size: 11px;
}
.section-buttons__button {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  margin-top: 20px;
  padding-left: 1px;
  overflow: hidden;
}
#start {
  background-color: black;
  color: #c5f0c9;
}
#view {
  background-color: rgb(5, 105, 82);
  border: 2px solid rgb(197, 240, 201);
  color: #c5f0c9;
}
#boy {
  position: absolute;
  top: 15%;
  left: 65%;
  width: 400px;
}
#two {
  padding-top: 20px;
  margin-bottom: 100px;
}
.section-text {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
.section-options-two {
  padding-left: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}
.section-options-two_inline {
  padding-left: 45px;
}
.music {
  width: 200px;
}
#three {
  background-color: #efefef;
  text-align: center;
  padding-top: 20px;
}
#section-text-pick {
  margin-bottom: 3px;
}
#listen_without {
  font-size: 18px;
  text-align: center;
}
.tarif {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-left: 200px;
}
.tarif__item {
  width: 280px;
  height: 580px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: left;
  padding: 0 0 5px 30px;
  margin: 45px 0 100px 0;
}
.tarif__name {
  font-size: 25px;
  font-weight: bold;
}
.tarif__button {
  width: 225px;
  height: 50px;
  border-radius: 30px;
  margin-top: 80px;
  background-color: black;
  color: white;
}
.tarif__months {
  width: 80px;
  height: 35px;
  padding: 10px 0 0 1px;
}
.tarif__terms2 {
  padding: 0 10px 5px 1px;
  margin-top: 30px;
  font-size: 11px;
}
ol {
  list-style: none;
  padding-left: 0px;
}
ol > li {
  padding-left: 20px;
  position: relative;
  margin: 10px;
}
ol > li:before {
  content: '\2713'  ;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
}
#btn2 {
  margin-top: 25px;
}
#btn3 {
  margin-top: 75px;
}
#btn4 {
  margin-top: 1px;
}
footer {
  background-color: black;
}
.forFooter {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 30px 0 0 50px;
  font-size: 16px;
}
.forFooter__item {
  margin-top: 50px;
  padding-left: 80px;
}
#social {
  width: 400px;
  padding-left: 150px;
}
.forFooter-2 {
  display: flex;
  flex-direction: row;
  color: gray;
  padding: 100px 0 50px 125px;
  font-size: 12px;
}
.forFooter-2__text {
  padding-left: 20px;
}

@media (max-width: 600px) {
  .header-right {
    display: none;
  }
  #one {
    padding-left: 35px;
  }
  #free {
    font-size: 35px;
  }
  #offer {
    font-size: 20px;
  }
  .section-buttons {
    display: flex;
    flex-direction: column;
  }
  .section-buttons__button {
    width: 350px;
    font-size: 20px;
    border-radius: 70px;
  }
  .terms {
    margin-top: 50px;
    font-size: 15px;
  }
  #boy {
    position: unset;
  }
  .section-text {
    font-size: 35px;
  }
  .section-options-two {
    flex-direction: column;
    padding-left: 5px;
    gap: 30px;
  }
  .section-options-two_inline {
    padding: 50px 0 0 8px;
  }
  .section-options-two_col {
    display: flex;
    flex-direction: row;
    font-size: 17px;
  }
  .tarif {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
  }
  .tarif__item {
    width: 350px;
    height: 570px;
    margin-top: 25px;
    padding: 0 0 5px 30px;
  }
  .tarif__button {
    width: 300px;
  }
  .forFooter {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  .forFooter__item {
   padding-left: 0;
  }
  #logo {
    width: 100px;
  }
  .forFooter-2 {
    padding: 50px 0 0 10px;
  }
  #social {
    width: 250px;
    padding-left: 0;
  }
}
@media  (min-width: 601px) and (max-width: 960px) {
  .header-right {
    display: none;
  }
  #one{
    padding-left: 40px;
  }
  #boy {
    position: unset;
  }
  .section-img-one_boy{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .section-text {
    padding-left: 100px;
  }
  #listen_without{
    padding-left: 100px;
  }
  #cards{
    padding-left: 100px;
  }
  .section-options-two {
    flex-direction: column;
    padding-left: 100px;
    gap: 30px;
  }
  .section-options-two_inline {
    padding: 50px 0 0 8px;
  }
  .section-options-two_col {
    display: flex;
    flex-direction: row;
    font-size: 17px;
  }
  .tarif {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    gap: 0;
  }
  .tarif__item {
    width: 500px;
    height: 550px;
  }
  .tarif__name {
    font-size: 30px;
    margin: 0;
  }
  .tarif__terms2 {
    font-size: 15px;
  }
  .tarif__button {
    width: 450px;
  }
  .forFooter {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-left: 20px;
  }
  .forFooter__item {
   padding-left: 0;
   margin-top: 30px;
  }
  #logo {
    width: 100px;
  }
  #social {
    display: none;
  }
  .forFooter-2 {
    padding: 50px 0 0 10px;
  }
}
@media  (min-width: 961px) and (max-width: 1264px) {
  #one {
    padding-left: 40px;
  }
  #boy {
    position: unset;
  }
  .section-img-one_boy{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .section-options-two {
    padding-left: 30px ;
    justify-content: center;
    gap: 5px;
  }
  .tarif {
    padding-left: 30px ;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .tarif__item {
    width: 500px;
    height: 600px;
    margin: 45px 0 25px 0;
  }
  .tarif__button {
    width: 400px;
  }
  .tarif__name{
    font-size: 35px;
  }
  .tarif__terms2 {
    font-size: 13px;
  }
  .forFooter__item {
    padding-left: 50px;
  }
  #social {
    width: 200px;
    padding: 20px 0 0 0;
    }
}
@media  (min-width: 1265px) and (max-width: 1904px) {
  #one {
    padding-left: 80px;
  }
  #boy {
    top: 13%;
  }
  .section-options-two {
    padding-left: 100px;
  }
  .tarif{
    padding-left: 50px;
  }
  #social {
    padding-left: 100px;
  }
  .section-text {
    padding-left: 100px;
  }
  #listen_without {
    padding-left: 100px;
  }
  #cards {
    padding-left: 100px;
  }
}
@media  (min-width: 1905px) {
  #one {
    padding-left: 200px;
  }
  #boy {
    top: 13%;
  }
  .section-text {
    padding-left: 100px;
  }
  .section-options-two {
    padding-left: 100px;
  }
  #listen_without {
    padding-left: 100px;
  }
  #cards {
    padding-left: 100px;
  }
  .forFooter {
    margin-left: 300px;
    margin-right: 300px;
  }
  .forFooter-2{
    margin-left: 300px;
    margin-right: 300px;
    }
}